multisig = {
# your name
"signer_name": "",
# your individual address
"signer_address": "",
# multisig address
"multisig_address": "osmo12cpjaaqadqqx9c9aql864cz87dvgh9k25r2ydz",
# where the txs are located. not required, if empty forces local mode
"repo": "doggystylez/multisig-test",
# account number of the multisig. not required, if empty a good rpc is required
"account_number": ""
}

client = {
# a good node. if empty, forces offline mode
"rpc": "https://rpc.osl.zone:443",
# chain-id
"chain_id": "osmosis-1",
# binary name
"binary": "osmosisd",
# keyring backend
"keyring": "os"
}
